{{>partial_header}}
using Newtonsoft.Json;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Net.Http;
using System.Threading.Tasks;
#nullable enable
#nullable disable warnings

namespace {{packageName}}
{ {{#operations}}
    /// <summary>
    /// {{description}}
    /// </summary>{{#description}}
    [Description("{{description}}")]{{/description}}
    public interface I{{classname}}Client
    { {{#operation}}
        /// <summary>
        /// {{#summary}}{{summary}}{{/summary}}
        /// </summary>{{#notes}}
        /// <remarks>{{notes}}</remarks>{{/notes}}{{#allParams}}
        /// <param name="{{paramName}}">{{description}}</param>{{/allParams}}{{!
        }}
        Task<{{classname}}Client.ITypeSafe{{operationId}}Result> {{operationId}}Async({{#allParams}}
            {{&dataType}} {{paramName}},{{/allParams}}
            System.Net.Http.Headers.AuthenticationHeaderValue? authorizationHeader = null);
        {{/operation}}
    }

    public class {{classname}}ClientConfiguration
    {
        public string BaseUrl { get; set; }
        public JsonSerializerSettings Settings { get; set; }
    }

    /// <summary>
    /// {{description}}
    /// </summary>{{#description}}
    [Description("{{description}}")]{{/description}}
    public sealed class {{classname}}Client : I{{classname}}Client
    {
        private readonly HttpClient httpClient;
        private readonly {{classname}}ClientConfiguration configuration;

        public {{classname}}Client(HttpClient httpClient, {{classname}}ClientConfiguration configuration)
        {
            this.httpClient = httpClient;
            this.configuration = configuration;
        }

{{#operation}}
        /// <summary>
        /// {{#summary}}{{summary}}{{/summary}}
        /// </summary>{{#notes}}
        /// <remarks>{{notes}}</remarks>{{/notes}}{{#allParams}}
        /// <param name="{{paramName}}">{{description}}</param>{{/allParams}}{{!
        }}
        public Task<ITypeSafe{{operationId}}Result> {{operationId}}Async({{#allParams}}
            {{&dataType}} {{paramName}},{{/allParams}}
            System.Net.Http.Headers.AuthenticationHeaderValue? authorization = null)
        {
            var __path = "{{{path}}}"{{#pathParams}}
                        .Replace($"{{{"{{baseName}}"}}}", System.Web.HttpUtility.UrlEncode({{paramName}}.ToString())){{/pathParams}};
            var __uri = new UriBuilder(this.configuration.BaseUrl + __path){{#hasQueryParams}}
                    {
                        Query = new System.Collections.Specialized.NameValueCollection
                        {
{{#queryParams}}
                            { "{{baseName}}", {{paramName}}{{#isCollectionFormatMulti}}.Select(v => v.ToString()){{/isCollectionFormatMulti}}{{^isCollectionFormatMulti}}.ToString(){{/isCollectionFormatMulti}} },
{{/queryParams}}
                        }.ToString(),
                    }
                    {{/hasQueryParams}}.Uri;
            var __request = new HttpRequestMessage({{{httpMethod}}}, __uri)
                {
                    Headers =
                    {
                        Authorization = authorization,
                    },
{{#bodyParam}}
                    Content = new StringContent(Newtonsoft.Json.JsonConvert.SerializeObject({{paramName}}, this.configuration.Settings), System.Text.Encoding.UTF8, "{{^consumes}}application/json{{/consumes}}{{#consumes.0}}{{{mediaType}}}{{/consumes.0}}"),
{{/bodyParam}}
                };
{{#headerParams}}
            __request.Headers.Add("{{baseName}}", {{paramName}}{{#isListContainer}}.Select(v => v.ToString()){{/isListContainer}}{{^isListContainer}}.ToString(){{/isListContainer}});
{{/headerParams}}
            return this.httpClient.SendAsync(__request)
                             .ContinueWith(t => (ITypeSafe{{operationId}}Result)new TypeSafe{{operationId}}Result(t.Result, this.configuration.Settings));
        }

{{/operation}}{{#operation}}
        public interface ITypeSafe{{operationId}}Result
        {
            HttpResponseMessage Response { get; }
            System.Net.HttpStatusCode StatusCode => Response.StatusCode;

            {{#responses}}

            {{#message}}/// <summary>{{message}}</summary>{{/message}}
            Task<{{#dataType}}{{&dataType}}{{/dataType}}{{^dataType}}HttpResponseMessage{{/dataType}}> {{^isDefault}}StatusCode{{code}}{{/isDefault}}{{#isDefault}}OtherStatusCode{{/isDefault}}Async();
            {{/responses}}
        }

        public readonly struct TypeSafe{{operationId}}Result : ITypeSafe{{operationId}}Result
        {
            private readonly JsonSerializerSettings settings;

            public TypeSafe{{operationId}}Result(HttpResponseMessage response, JsonSerializerSettings settings)
            {
                this.Response = response;
                this.settings = settings;
            }

            public HttpResponseMessage Response { get; }

            {{#responses}}

            {{#message}}/// <summary>{{message}}</summary>{{/message}}
            public async Task<{{#dataType}}{{&dataType}}{{/dataType}}{{^dataType}}HttpResponseMessage{{/dataType}}> {{^isDefault}}StatusCode{{code}}{{/isDefault}}{{#isDefault}}OtherStatusCode{{/isDefault}}Async()
            { {{^isDefault}}
                if (this.Response.StatusCode != (System.Net.HttpStatusCode){{code}})
                    throw new InvalidOperationException();
{{/isDefault}}
{{#dataType}}
                var json = await this.Response.Content.ReadAsStringAsync();
                return Newtonsoft.Json.JsonConvert.DeserializeObject<{{&dataType}}>(json, settings);
{{/dataType}}{{^dataType}}
                await Task.Yield();
                return Response;
{{/dataType}}
            }
            {{/responses}}
        }

{{/operation}}
    }
{{/operations}}
}