
{{>partial_header}}
using System;
using System.Collections.Generic;
#nullable enable
#nullable disable warnings

namespace {{packageName}}
{
    public static class NameValueCollectionExtensions
    {
        public static void Add(this System.Collections.Specialized.NameValueCollection original, string key, IEnumerable<string> values)
        {
            foreach (var value in values)
            {
                original.Add(key, value);
            }
        }
    }
}
