<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
    <add key="github-ps" value="https://nuget.pkg.github.com/PrincipleStudios/index.json" />
    </packageSources>
    <packageSourceCredentials>
    <github-ps>
        <!-- The value of "Username" is not specific - it appears to not be validated -->
        <add key="Username" value="github" />
        <add key="ClearTextPassword" value="--your-key--" />
        </github-ps>
    </packageSourceCredentials>
</configuration>
