*.snk
*.local.*
node_modules/
**/out.local*/
**/*.tgz
.vs/
**/*.user
**/*.binlog
artifacts/
.idea/.idea.openapi-codegen/.idea/workspace.xml
.idea/.idea.openapi-codegen/.idea/indexLayout.xml
lib/PrincipleStudios.OpenApi.TypeScript/templates/enummodel.handlebars
.idea/.idea.openapi-codegen/.idea/.name
.idea/.idea.openapi-codegen/.idea/vcs.xml
