/artifacts
/schemas
**/node_modules/
**/generated/
*/dev-dist/
.config/

**/package.json
/pnpm-lock.yaml

generators/typescript/npm/lib/
generators/typescript-fetch/lib/
generators/typescript-fetch/tests/*/**/*
generators/typescript/npm/dotnet/
generators/typescript/npm/tests/*/**/*
generators/typescript-msw/npm/lib/
generators/typescript-msw/npm/tests/*/**/*
generators/typescript-rxjs/npm/lib/
generators/typescript-rxjs/npm/tests/*/**/*
lib/OpenApiCodegen.Client.TypeScript.Test/testing/*/**/*
