*.local.*
**/out.local*/
**/*.tgz

tests/
tsconfig.json
.gitignore
babel.config.js
bin/
.settings/
.classpath
.project
*gradle*
src/
build/classes/
build/resources/
build/tmp/
build/libs/*
!build/libs/aspnetcore-server-interfaces-1.0.0.jar
