<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 
    If testing locally, follow 
    https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry 
    to add https://nuget.pkg.github.com/PrincipleStudios/index.json via 
    `dotnet nuget add source`
  -->
  <packageSources>
    <add key="local-generator" value="..\..\generators\dotnetstandard-client\PrincipleStudios.OpenApiCodegen.Client\bin\Debug" />
  </packageSources>
</configuration>